body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
img {
  display: block;
}

:root {
  --prymary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --prymary-bg-color: #2196f3;
}

/*Навігація*/
.link {
  text-decoration: none;
  color: var(--prymary-text-color);
}
.list {
  list-style: none;
}
.container {
  width: 1200px;
  outline: 3px solid tomato;
  margin: 0 auto;
}

.page-heder {
}
.logo {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-s {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.site-nav .link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--prymary-text-color);
}
.site-nav .current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.auth-nav .link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:active {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
/* Hero*/
.section-hero {
  background-color: var(--title-text-color);
  text-align: center;
}
.section-hero .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-accent-color);
}
.section-hero .btn {
  font-weight: 700;
  font-size: 16;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--second-accent-color);
  background-color: var(--prymary-bg-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Особливості*/

.feature .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--prymary-text-color);
}

.feature .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/*Секція рід заннятть по фото*/
.work .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prymary-text-color);
}

/*Наша команда*/
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prymary-text-color);
}
.team .title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prymary-text-color);
}
.team .text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

/*Портфоліо*/

.section-work .title-nav {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--prymary-text-color);
  cursor: pointer;
}
.active {
  background: #2196f3;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-accent-color);
}

.btn:hover,
.btn:focus {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--prymary-bg-color);
  color: var(--second-accent-color);
}

.section-work .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--prymary-text-color);
}
.section-work .text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/*Пiдвал сторiнки з адресою*/
footer {
  background-color: #2f303a;
}
.footers {
  color: var(--second-accent-color);
}
.logo-s .address .link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address .map {
  color: var(--second-accent-color);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
